# ignore node modules always
node_modules/

# ignore tmp folder
tmp

# mac file
.DS_Store

# java gradle build data
.gradle

# python stuff
.ipynb_checkpoints
__pycache__
.pytest_cache/
.mypy_cache/

# environment file
.env

# demo code folder
demoCode/

# ignore swap files
*.swp

# ignore coverage file(s)
coverage/
.coverage
coverage.txt
coverage.xml

# Local Netlify folder
.netlify
