// custom styles

.navbar-background {
  background-color: var(--bg-nav);
}
.navbar-home-background {
  background-color: transparent;
}

.nav-container-home {
  z-index: 5;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav {
  margin-left: 0;
}

.navbar-other {
  color: var(--text-nav);

  .navbar-link {
    color: var(--text-nav) !important;
  }

  .navbar-nav .nav-link {
    color: var(--text-nav) !important;
  }
}

.navbar-nav .nav-link:hover {
  color: var(--teal-blue) !important;
}

.navbar-home {
  color: white;

  .navbar-nav .nav-link {
    color: white !important;
  }

  .navbar-nav .nav-link:hover {
    color: var(--turquoise) !important;
  }
}
