@import "../assets/styles/global.scss";
@import "../assets/styles/colors.scss";
@import "../assets/styles/floatingLabels.scss";

/* get footer to stick to the bottom */
.main-wrapper {
  display: flex;
  min-height: 105vh;
  flex-direction: column;
}
/* colors */
.main-wrapper {
  background-color: var(--bg);
  color: var(--text);
}
.content {
  flex: 1;
}
