# ignore logs
*.logs*

# gitignore
coverage/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
lib/
dist-bin/
lib_test

# ignore config files
.env
.rescribe*
rescriberc.yml

# except for default
!.rescriberc.default.yml

# npmignore
__tests__/
.vscode/
.idea/
tmp
*.zip

# pub folder
pub/
!pub/*.sh
!pub/*.md
