:root {
  // main colors
  --purple-blue: #04128c;
  --dark-blue: #20489e;
  --teal-blue: #0d98a3;
  --turquoise: #43c2cc;
  --light-green: #2Cda96;
  --pastel-red: #d9534f;
  --link-blue: #1373f5;
  --soft-background: #E2f4F8;
  --green-go: #31bc80;
  --red-stop: #f2453d;

  // grays
  --gray0: #f5f5f5;
  --gray1: #eceeef;
  --gray2: #dddddd;
  --gray3: #c4c4c4;
  --gray4: #999999;
  --gray5: #555555;
  --gray6: #222222;

  // other colors
  --light-orange: #f0ad4e;
  --secondary-green: #8bbd3c;
  --secondary-blue: #4e87f0;
}

.light {
  --bg: white;
  --bg-nav: white;
  --text: var(--gray6);
  --text-nav: var(--purple-blue);
  --secondary-header: var(--purple-blue);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: var(--dark-blue);
  --text: var(--gray0);
  --text-nav: var(--purple-blue);
  --secondary-header: var(--gray1);
}
