:root {
  // main colors
  --purple-blue: #04128c;
  --dark-blue: #20489e;
  --teal-blue: #0d98a3;
  --turquoise: #43c2cc;
  --light-green: #2cda96;
  --pastel-red: #d9534f;
  --link-blue: #1373f5;
  --soft-background: #86c5da;
  --green-go: #31bc80;
  --red-stop: #f2453d;

  // grays
  --gray0: #f5f5f5;
  --gray1: #eceeef;
  --gray2: #dddddd;
  --gray3: #c4c4c4;
  --gray4: #999999;
  --gray5: #555555;
  --gray6: #222222;

  // other colors
  --light-orange: #f0ad4e;
  --secondary-green: #8bbd3c;
  --secondary-blue: #4e87f0;
}

// bootstrap overrides
$primary: #20489e;
$danger: #f2453d;
$success: #31bc80;

.light {
  --bg: white;
  --bg-nav: white;
  --text: var(--gray6);
  --text-nav: var(--purple-blue);
  --secondary-header: var(--purple-blue);
  --bg-footer: var(--gray1);
}

.dark {
  --bg: var(--gray5);
  --bg-nav: var(--gray6);
  --text: var(--gray0);
  --text-nav: var(--gray0);
  --secondary-header: var(--gray1);
  --bg-footer: var(--gray6);
}

// input elements

.dark input, .dark input:active {
  background-color: var(--gray6) !important;
  color: white !important;
}

// toast overrides
.Toastify__toast-container {
  width: 320px;
}
.Toastify__toast--default {
  background: var(--gray3);
  color: var(--gray0);
}
.Toastify__toast--info {
  background: var(--gray4);
}
.Toastify__toast--success {
  background: var(--green-go);
}
.Toastify__toast--warning {
  // put warning color here
  color: var(--gray0);
}
.Toastify__toast--error {
  background: var(--red-stop);
}

@import "bootstrap";

hr {
  border-color: var(--gray2);
}
