# node.js
coverage/
../node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nyc_output
lib
lib_test

# ignore swap files
*.swp

# config files
.env

# output files
dist_swagger/
