{
  "plugins": ["@babel/plugin-proposal-optional-chaining", "emotion"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}